/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

a {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.166667em;
  font-weight: 700;
  font-style: sans-serif;
  color: #ff745c;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5em;
  text-align: center;
}

h1 {
  font-style: italic;
  color: #2dcc2d;
}

.background {
  background: #696969;
}

h2 {
  color: #add8e6;
}

.round-btn {
  background: white;
  color: #2dcc2d;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 300px;
  vertical-align: text-bottom;
  background: #1900ff;
}

.site-title a {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.166667em;
  font-weight: 700;
  font-style: normal;
  color: #ff745c;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.2em;
}

.orange {
  color: orange;
}

.pink {
  color: pink;
}

.blue {
  color: blue;
}

.site-title {
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px;
}

.move-down {
  transform: translate(-0%, 40%);
  text-align: center;
}

.move-down-more {
  transform: translate(-0%, 45%);
  text-align: center;
}

.move-down-other-pages {
  transform: translate(-0%, 15%);
  text-align: center;
}

.move-down-more-other-pages {
  transform: translate(-0%, 45%);
  text-align: center;
}